<div class="divPrincipal">
    <div class="form-group" class="divDados">
        <h2>Clientes</h2>
        <form (ngSubmit)="addCliente()">
            <div class="row">
                <div class="col-1">
                    <label for="codigo">Código:</label>
                    <input [disabled]="true" class="form-control" type="number" id="codigo" [(ngModel)]="cliente.Codigo" name="codigo"
                        required>
                </div>

                <div class="col-5">
                    <label for="nome">Nome:</label>
                    <input class="form-control" type="text" id="nome" [(ngModel)]="cliente.Nome" name="nome" required>
                </div>

                <div class="col-4"> <label for="email">Email:</label>
                    <input class="form-control" type="email" id="email" [(ngModel)]="cliente.Email" name="email"
                        required>
                </div>

                <div class="col-2" style="display: flex; align-items: end;">
                    <button class="btn btn-success" type="submit">{{ isEditing ? 'Atualizar' :'Adicionar'}}</button>
                    <button *ngIf="isEditing" class="btn btn-secondary" type="button" (click)="cancelEdition()">Cancelar</button>
                </div>

            </div>
        </form>
    </div>

    <table class="table" style="margin-top: 25px;">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of clientes">
                <td>{{ c.Codigo }}</td>
                <td>{{ c.Nome }}</td>
                <td>{{ c.Email }}</td>
                <td>
                    <button class="btn btn-warning" (click)="editCliente(c)">Editar</button>
                    <button class="btn btn-danger" (click)="deleteCliente(c.Codigo)">Excluir</button>
                    <button class="btn btn-success" (click)="abrirDetalhesAirTags(c)">AirTags</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>